/* .header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: var(--spacer-m) var(--spacer-l);

  height: 30px;
  position: sticky;
  top: 0px;
  background-color: var(--gray1);
  border-bottom: 1px solid var(--gray6);
  z-index: 1;
} */
/* .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--gray12);
} */
/* .shoppingBasket {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
} */

/* .basketNum {
  position: absolute;
  background-color: var(--green11);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: 0;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
} */
/* .basketNum span {
  position: absolute;
  font-size: 10px;
  color: var(--gray1);
} */
/* .icon {
  font-size: var(--font-size-l);
  position: absolute;
} */
/* .backBtn {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-l);
  cursor: pointer;
} */
